# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Build outputs
dist/
*.o
*.exe
bin/

# Environment variables
.env
.env.local
**/.env
**/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

