.container {
  padding: clamp(12px, 3vw, 24px) clamp(16px, 3.5vw, 128px) clamp(20px, 5vw, 40px);
  margin: 0px;
  width: 100vw;
  background-color: hsla(0, 50%, 50%, 1);
  display: grid;
  place-items: center;  

  h1 {
    font-size: clamp(18px, 5vw, 36px);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-size: clamp(12px, 3vw, 18px);
    font-weight: 400;
    text-align: center;
  }
}
