// Global SCSS variables
$font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, serif;

// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global body styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: $font-family;
  display: flex;
  flex-direction: column;
}
