// Global SCSS variables
$font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, serif;

// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global body styles
body {
  font-family: $font-family;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: start center;
}
